body {
  font-family: monospace;
  background-image: url(images/planet.jpeg);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
}
h1 {
  text-align: center;
}
select {
  display: inline-block;
  width: 50%;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
  font-size: 14px;
}
select:hover {
  border-style: dotted;
  border-color: rgb(239, 81, 33);
  color: rgb(239, 81, 33);
}
#current-location {
  margin: 15px 10px 5px;
  padding: 4px;
  border-radius: 10px;
  background-color: aliceblue;
}
#currentCity {
  font-weight: 600;
  font-size: larger;
}
#current-time {
  font-size: large;
}

.maine-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.042);
  padding: 0px;
}

.principal-cities-section {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 10px 10px;
  margin: 13px 12px 10px;
  background-color: aliceblue;
  border-radius: 10px;
}
.principal-cities-section:hover {
  cursor: grab;
}
.principal-cities-section > div {
  margin-bottom: 15px;
}

.icon img {
  max-width: 60px;
  margin-bottom: -10px;
}
h2 {
  margin: 0px 0px 5px;
  min-width: 120px;
}
.time {
  font-size: 17px;
  padding: 2px;
  margin-bottom: 5px;
  color: rgb(239, 81, 33);
}
.date {
  min-width: 140px;
}
footer {
  background-color: white;
  text-align: center;
  font-size: 10px;
}
footer a {
  text-decoration: none;
  color: rgb(239, 81, 33);
}
footer a:hover {
  text-decoration: underline;
}
